body{
	background-color:rgb(181, 194, 199);
  }

.center{
	
	display: flex;
   justify-content: center;
   align-items: center;
}

.sectionindex{
	max-height: 50%;
	left:10%;
	right:10%;
}

.card-img-top{
	height: 200px;
}

.centerRechnung{
	
   max-width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
}

footer {
	text-align: center;
	padding: 3px;
	color: rgb(24, 21, 21);
	position: fixed;      
    bottom: 0px; 
	height: 10%;
     width: 100%;
  }

/* hier sind die Media Queries*/
@media only screen and (max-width: 600px) {
	body {
	  background-color: rgb(165, 206, 51);
	}
  }
