body {
	overflow: hidden;
	background-color: rgb(120, 240, 225);
}

.Ausrichtung {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 89.88%;
	left: 5.79%;
	width: 16.86%;
	height: 6.26%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgb(237, 250, 132);
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.42vw;
	padding: 0px;
	margin: 0px;

}

#img1 {
	display: block;
	position: absolute;
	top: -0.16%;
	left: -1.98%;
	width: 101.79%;
	height: 120.77%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
	border: solid rgb(0, 0, 0) 0px;
	margin: 0px;
}

#div2 {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 4.07%;
	left: 2.02%;
	width: 20.00%;
	height: 8.37%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.05);
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.42vw;
	padding: 0px;
	margin: 0px;
}

#button1 {
    background-color: rgb(255, 255, 255, 0.35);
}

#button2 {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 90.06%;
	left: 31.30%;
	width: 16.86%;
	height: 5.20%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgb(255, 255, 255,0.35 );
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.42vw;
	padding: 0px;
	margin: 0px;
}

#div5 {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 21.35%;
	left: 69.28%;
	width: 14.25%;
	height: 10.57%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgb(72, 229, 85);
	border: solid rgb(0, 0, 0) 0px;
	border-radius: 6px;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.42vw;
	padding: 0px;
	margin: 0px;
}

#button3 {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 90.09%;
	left: 55.70%;
	width: 16.86%;
	height: 5.20%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgb(255, 255, 255,0.35 );
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.42vw;
	padding: 0px;
	margin: 0px;
}

#button4 {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 89.88%;
	left: 76.76%;
	width: 16.86%;
	height: 6.26%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgb(255, 255, 255,0.35 );
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.42vw;
	padding: 0px;
	margin: 0px;
}

#div15 {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 77.08%;
	left: 39.80%;
	width: 20.00%;
	height: 8.37%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
    color : rgb(0, 0, 0);
	background-color: rgb(255, 255, 255, 0.35);
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.42vw;
	padding: 0px;
	margin: 0px;
}

#div16 {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 40.00%;
	left: 35.50%;
	width: 39.34%;
	height: 33.74%;
	z-index: 9;
	color: rgb(255, 253, 253);
	overflow: hidden;
	background-color: rgb(255, 255, 255, 0,75);
	border: solid rgb(0, 0, 0) 0px;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.00vw;
	padding: 0px;
	margin: 0px;
}

#input17 {
	display: block;
    text-align: center;
	position: absolute;
	top: 21.35%;
	left: 30.96%;
	width: 33.05%;
	height: 10.57%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	border: solid rgb(0, 0, 0) 1px;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.42vw;
	padding: 0.5%;
	padding-left: 1%;
	margin: 0px;
}

#button4:hover {
	background-color: rgb(79, 79, 190, 0.75);
  }
  #button3:hover {
	background-color:rgb(79, 79, 190, 0.75) ;
  }
  #button2:hover {
	background-color: rgb(79, 79, 190, 0.75);
  }
  #button1:hover {
	background-color: rgb(79, 79, 190,0.75 );
  }

@media screen and (max-width: 485px) {
	#div5{
		width: 75%;
		height: 40px;
		top: 45.08%;
		left: 10.96%;
	}

	#div16{
		width: 75%;
		height: 40px;
		top: 35.35%;
		left: 10.96%;
		font-size: 2.00vw;
	}

	#input17{
		max-width: 75%;
		width: 75%;
		left: 10.96%;
	}

	#button1{
		width: 75%;
		height: 40px;
		top: 60.08%;
		left: 10.96%;
	}

	#button2{
		width: 75%;
		height: 40px;
		top: 70.08%;
		left: 10.96%;
	}

	#button3{
		width: 75%;
		height: 40px;
		top: 80.08%;
		left: 10.96%;
	}

	#button4{
		width: 75%;
		height: 40px;
		top: 90.08%;
		left: 10.96%;
	}

	#div15{
		width: 75%;
		height: 40px;
		top: 580.08%;
		left: 10.96%;
	}
	

  }
